table, th, td {
    border: 5px solid black;
    border-collapse:collapse;
    padding: 10px;
}

table {
    padding: 1px;
}

th {background:rgb(105, 75, 133);}

.rheader { background: rgb(90, 29, 95); }

body {
    background-color: black;
    background-size:100% 350%;
    background-image: url("https://plus.unsplash.com/premium_photo-1712039658659-7019cfe912e1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZWFydGglMjBzcGFjZXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color:white;
}

.medium {width: 275px; height:275px; }

video {
    width:300px;
    padding:none;
}