body {
    color:#404040;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:#A4A400;
    background-color:#F0F0F0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align:center;
}
h2 {
    color:#A4A400;
    background-color:#F0F0F0;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align:left;
}
a{
    color:#A4A400;
}
ul {
    p {background-color:khaki;
    font-family:Georgia, 'Times New Roman', Times, serif}
    li {list-style-image: url('PieBullet.png');}
}

ol {
    p {padding-bottom: none;
    padding:0px;
    margin:1px;
font-family:monospace;}

}